
<main aria-labelledby="title">
    <h1>Personal Information</h1>
    <hr />
    <br>

    <table>

        <tr style="height:50px">
            <td style="width:10%;">Name</td>

            <td>
                : Meherab Hassan.

            </td>

        </tr>
        <tr style="height:50px">
            <td style="width:10%; ">
                Father's Name
            </td>

            <td>
                : Amzad.

            </td>
        </tr>
        <tr style="height:50px">
            <td style="width:10%;">
                Mother's Name
            </td>

            <td>
                : Aleya.

            </td>
        </tr>

        <tr style="height:50px">
            <td style="width:10%;">
                Work
            </td>

            <td>
                : Student.

            </td>
        </tr>
        <tr style="height:50px">
            <td style="width:10%;">
                Email
            </td>

            <td>
                : mehrabborno@gmail.com

            </td>

        </tr>
        <tr style="height:50px">
            <td style="width:10%;">
                Address
            </td>

            <td>
                : Dhaka, Bangladesh.

            </td>
        </tr>



    </table>


</main>